@charset "UTF-8";

.floatleft {
    float: left !important;
}
span#count
{
    background-color: #fd8c5f;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.emp_srch{
    margin-top: 65px;
    margin-bottom: 25px;
}
.feedbackform
{
    margin: 50px !important;
}
.error
{
    color: red;
}

/*Program select*/
.cat-list {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(52, 73, 94, 0.07);
    box-shadow: 0px 0px 10px 0px rgba(52, 73, 94, 0.07);
    border: 0 !important;
    }
    
    .custom-checkbox {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
    margin-left: 10px;
    padding-bottom: 15px;
    padding-right: 10px;

    }

    .card-category-list .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {background-color: #a31834;}

.btn-submit {background-color:#a31834  !important; color: #fff !important; border-color: #a31834 !important;}
.btn-submit:hover {background-color:#fff  !important; color: #a31834 !important;}

.btn-cancel {background-color:#fff  !important; color: #a31834 !important; border-color: #a31834 !important}
.btn-cancel:hover {background-color:#a31834  !important; color: #fff !important;}

.tags {background-color: #a31834 !important; color: #fff !important;line-height: normal; display: inline-block; padding: 10px 15px; border-radius: 100px; margin: 10px 5px;}
.bg-maroon .card-title {text-transform: unset !important; }  
    

    .bg-purple {
        background-color: #8537b9 !important;
        color: #fff !important;
    }
    .bg-skyblue {
        background-color: #00bdec !important;
        color: #fff !important;
        
    }
    .bg-green {
        background-color: #79c74a !important;
        color: #fff !important;
        
    }
    .bg-red {
        background-color: #e1343a !important;
        color: #fff !important;
    }

    .category-selected {background-color: #fff; padding: 20px; margin-bottom: 30px;}

    .category-selected h3 {color: #a31834; font-weight: 600; font-size: 22px; margin-bottom: 20px;}

    .checkboxes  {position: absolute;width: 30px; height: 30px;}
    .checkboxes input {position: relative; z-index: 99999; top: 6px; left: 6px;}
    .check-list {position: relative; padding: 10px 10px; border-left: 1px solid #d9d9d9;
        border-top: 1px solid #d9d9d9; 
        border-right: 1px solid #d9d9d9;}
    .check-list:after {content: "";
    border-right: 1px solid #d9d9d9;
    position: absolute; top: 0;
    height: 100%;
    width: 35px;}
    .check-list:last-child { border-bottom: 1px solid #d9d9d9;}
    .option-name {position: relative; width: 90%; padding-left: 25px; } 
    .option-name .custom-control-label{padding: 0 10px }
    .option-name p {margin-bottom: 0 !important; padding-left: 25px; font-size: 14px;}
    .custom-control-input{display: none;}
    .welcome-user {font-size: 24px; padding-top: 10px;}
    .welcome-user b {font-size: 24px;}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  .card .card-header {min-height: 99px;}
}

.main-panel {max-height: none !Important; height: auto !important;}

col-xl-3 col-lg-6
